Hi <%= h @event.user.username %>,
  Unfortunately you're booking on <%= h @event.instrument.name %> has been canceled. The likely reason for this is that the instrument is down. Please talk to Dave if you have any questions. 
Thanks,
    Automated booking system mailer 
