Hi <%= h @user.username %>,
  Unfortunately you're booking on the <%= h @instrument.name %> at <%= @time %> has been canceled. Please talk to Dave if you have any questions. 
Thanks,
    Automated booking system mailer 
