Hi <%= h @event.user.username %>,
  Unfortunately you're booking on <%= h @event.instrument.name %> has been delayed. The likely reason for this is that the instrument is down or the current user has planned poorly. Please talk to Dave if you have any questions. 
Thanks,
    Automated booking system mailer