#myheader #banner {
  text-align: left;
  background-color: #666666;
  height: 1cm;
  margin: 2px; }
  #myheader #banner #headermenu {
    margin: 0;
    padding: 0; }
    #myheader #banner #headermenu a.top-line {
      background-color: grey;
      color: white;
      font-family: serif;
      font-size: 12px;
      font-style: italic;
      line-height: 12px;
      padding: 1px 4px;
      padding-left: 15px;
      padding-right: 15px;
      position: absolute;
      text-decoration: none;
      top: 46px;
      vertical-align: middle; }
      #myheader #banner #headermenu a.top-line hover {
        font-family: serif;
        font-size: 12px;
        font-style: italic;
        line-height: 12px;
        padding: 0 4px;
        position: absolute;
        top: 72px;
        vertical-align: middle; }
    #myheader #banner #headermenu #admin-event {
      right: 50px;
      top: 61px; }
    #myheader #banner #headermenu #admin-user {
      right: 50px; }
    #myheader #banner #headermenu #dave {
      right: 100px; }
    #myheader #banner #headermenu #msf {
      right: 150px; }
    #myheader #banner #headermenu #home {
      right: 200px; }
#myheader #headerlist {
  padding-left: 3cm;
  padding-top: 10px;
  margin-top: 2px;
  width: 470px;
  height: 28px;
  background-color: #666666;
  color: white;
  display: block;
  font-size: 18pt; }
#myheader #hr hr {
  border: 0;
  border-top: 1px solid #666666;
  height: 0;
  background: #666666;
  padding: 0;
  line-height: 2px;
  margin-bottom: 2px;
  margin-top: 2px; }
#myheader #UCLOGO {
  display: inline;
  width: 2cm;
  color: white;
  font-size: 16pt;
  font-weight: bold;
  margin-top: 5px; }
  #myheader #UCLOGO #UC {
    position: absolute;
    left: 25px;
    top: 8px; }
  #myheader #UCLOGO #SF {
    position: absolute;
    left: 50px;
    top: 16px; }

#container {
  text-align: left;
  padding-top: 2px;
  padding-left: 4px;
  width: 750px; }
  #container #user_nav {
    padding-left: 2px;
    text-align: left;
    text-color: blue; }
    #container #user_nav a {
      color: blue; }
    #container #user_nav:visited {
      color: blue; }
  #container #notice {
    border-width: 1px;
    border-style: solid;
    background-color: #66FF99;
    font-weight: bold;
    text-align: left;
    margin: 20px 10px 20px 10px;
    padding: 7px;
    width: 650px; }
  #container #error {
    border-width: 1px;
    border-style: solid;
    background-color: #FF4040;
    font-weight: bold;
    text-align: left;
    margin: 20px 10px 20px 10px;
    padding: 7px;
    width: 650px; }
  #container #page_content {
    padding-left: 0.5cm;
    padding-top: 1cm; }
    #container #page_content h1 {
      text-align: left;
      padding-left: 4cm; }
    #container #page_content #instrument_table {
      padding-left: 1cm;
      display: block; }
      #container #page_content #instrument_table ul {
        display: block;
        list-style-type: none; }
        #container #page_content #instrument_table ul li {
          width: 4cm;
          float: left; }
      #container #page_content #instrument_table hr {
        width: 600px;
        text-align: left;
        margin: 0 auto 0 0; }
      #container #page_content #instrument_table instrument {
        display: block; }
        #container #page_content #instrument_table instrument ul {
          list-style-type: none;
          height: 1.4cm; }
          #container #page_content #instrument_table instrument ul li {
            width: 4cm;
            float: left; }
            #container #page_content #instrument_table instrument ul li img {
              margin-left: 10px;
              width: 30px;
              height: 30px; }
        #container #page_content #instrument_table instrument description {
          padding-left: 2cm; }
      #container #page_content #instrument_table week {
        width: 750px; }
    #container #page_content #add_booking {
      display: block; }
      #container #page_content #add_booking a:hover {
        text-decoration: underline; }
      #container #page_content #add_booking a {
        text-decoration: none;
        background: white;
        color: black; }
        #container #page_content #add_booking a img {
          width: 20px;
          background: white; }
        #container #page_content #add_booking a img:hover {
          background: white;
          text-decoration: none; }

a.ms-1-event-cal-txt {
  font-family: serif;
  font-size: 12px; }

a:hover {
  background-color: #2EAC6A;
  color: black; }

a:visited {
  color: black; }

.ec-month-nav {
  padding-left: 0px;
  text-align: center; }
  .ec-month-nav a:visited {
    color: black; }

.ec-month-name {
  padding-left: 0px;
  text-align: center; }

.ec-event-bg {
  background: gray; }

.user_form {
  position: relative;
  height: 1.5cm; }
  .user_form .fieldWithErrors {
    display: inline;
    padding: 1px;
    color: red; }
  .user_form .form_left {
    position: absolute;
    left: 1cm; }
  .user_form .form_right {
    position: relative;
    left: 8cm;
    width: 6cm; }
  .user_form #user_session_openid_identifier, .user_form #user_openid_identifier {
    background: url(http://openid.net/images/login-bg.gif) no-repeat;
    background-color: #FFF;
    color: #000;
    background-position: 0 50%;
    padding-left: 18px; }
  .user_form #user_color {
    color: #000;
    background-position: 0 50%;
    width: 500px; }
  .user_form h2 {
    font-size: 14pt; }
  .user_form .tiny {
    font-size: 8pt; }
  .user_form #user_session_submit {
    width: 500px; }
  .user_form #user_submit {
    width: 500px; }

.user_form_description {
  position: relative;
  height: 2.5cm; }

.project {
  position: absolute;
  left: 1cm; }

.project318 {
  position: relative;
  left: 6cm;
  width: 6cm; }

.checkbox_holder {
  display: inline-block;
  width: 15px; }

#add_comment {
  position: relative;
  margin-left: 160px; }
  #add_comment img {
    width: 400px; }
  #add_comment a:hover {
    background: black; }

#first_comment {
  background-color: #F3F3F3;
  border: 1px dashed #AAAAAA;
  position: relative;
  margin-left: 160px;
  padding: 5px;
  width: 388px; }
  #first_comment #name {
    margin-left: 5cm; }
  #first_comment #date {
    margin-left: 5.2cm; }
