%h1 Listing instruments

%table.instruments
	%thead
		%tr.instrument
			%th
				Name
			%th
				Model
			%th.status
				Status
	%tfoot
		%tr
			%td
				- if authorized?
					= link_to "Calendar of all instruments", calendar_path(Time.now.year,Time.now.month)
			%td
				= link_to 'Add a new instrument', new_instrument_path if admin?
			%td
	%tbody	
		- @instruments.each_with_index do |inst,ind| 
			- if authorized? || ( walkup_ok? && !inst.msf_only )
				%tr.instrument{ :class => (ind.odd?) ? "alt" : ""}
					%td
						= link_to h(inst.name), instrument_path(inst)
					%td
						=h inst.model
					%td.status
						= (inst.working) ? "Online" : "Offline"
