%h1 MSF Booking Website

%h2 This site is for users of the calendar booking system.

%h2
	= "If you are a new to the system, please " 
	= link_to( 'register.', new_user_path )
	= "otherwise just "
	= link_to('login', login_path )